<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automation Suite" parallel="none" thread-count="1">
    <test verbose="2" preserve-order="true" name="UI Regression" >
        <classes>
            <class name="functional.gui.modules.DashboardTest"/>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="API Tests" >
        <classes>
            <class name="functional.api.ReqResAPITest"/>
        </classes>
    </test>
</suite>